body {
  color: inherit;
}
.container {
  display: flex;
  justify-content: center;
  margin: 3em 0;
}
.controls {
  position: absolute;
  top: 50px;
  transform: translateX(-50%);
  left: 50%;
}
canvas {
  border: 3px solid white;
  height: 700px;
  width: 250px;
  float: left;
  margin-left: 20px;
  border: 1px solid black;
}
p {
  position: absolute;
  bottom: 1%;
}
input {
  z-index: 100;
}
